# Binários compilados
*.exe
*.exe~
*.dll
*.so
*.dylib

# Arquivos de teste
*.test

# Arquivos de cobertura de código
*.out

# Diretórios de dependências
/vendor/

# Arquivos de IDE e editores
.idea/
.vscode/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Diretório de build
/bin/
/dist/ 